In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
import os
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
sns.set()
%matplotlib notebook

In [2]:
def KovalT(mean_log, sd_log, mean_nor, sd_nor, sizen, iteras):
    """
    This function computes and stores the linear regression results of
    the Koval plot. Parameters:
    Permeability: lognormal; mean and standard deviation
    Porosity: normal; mean and standard deviation
    sizen: number of points of the data sets
    iteras: the number of linear regression analysis to be performed.
    """
    
    KLR = pd.DataFrame(np.zeros((iteras, 7)),
                      columns=['Porosity Mean', 'Permeability Mean', 'Slope', 'Intercept',
                               'P value', 'R^2', 'Standard Error']) # initializing DataFrame of results
    
    for itera in np.arange(iteras):
        # Compute the mean and standard deviation of lognormal pdf in terms of
        # the normal distribution
        normal_std = np.sqrt(np.log(1 + (sd_log/mean_log)**2))
        normal_mean = np.log(mean_log) - normal_std**2 / 2
        
        # Create DataFrame and permeability and porosity columns
        x = pd.DataFrame(np.random.lognormal(normal_mean, normal_std, size=sizen),
                         columns=['permeability'])
        x['porosity'] = np.random.normal(mean_nor, sd_nor, size=sizen)
        
        # Obtain the total sum of both permeability and porosity
        sumk = x['permeability'].sum()
        sumphi = x['porosity'].sum()
        x['interst vel'] = x['permeability'] / x['porosity'] # Interstitial velocity
        
        # Sort the interstitial velocity in descending order
        x.sort_values(by=['interst vel'], ascending=False, inplace=True)
        
        k1 = np.cumsum(pd.DataFrame(x['permeability']))
        phi1 = np.cumsum(pd.DataFrame(x['porosity']))
        x['(1-F)/F'] = (sumk / k1) - 1
        x['(1-C)/C'] = (sumphi / phi1) - 1
        x.where(x > 0, 0, inplace=True) # if there are negative values in the DataFrame, replace them with 0
        x.drop(['interst vel'], axis=1, inplace=True)
        
        # Linear regression
        slope, intercept, r_value, p_value, std_err = stats.linregress(
        x['(1-C)/C'], x['(1-F)/F'])
        
        KLR.iloc[itera, 0:2] = (x['porosity'].mean(), x['permeability'].mean())
        KLR.iloc[itera, 2:] = slope, intercept, p_value, r_value ** 2, std_err
        
    return KLR

In [3]:
os.chdir('C:\\Users\\Public\\Documents\\Python Scripts')

In [4]:
reb = pd.read_excel('REBk_phi.xlsx')

In [6]:
reb.describe()

               KH           KV       PHIH       PHIV
count   32.000000    18.000000  32.000000  11.000000
mean    13.331815   127.004255   8.984377   9.104359
std     21.442571   478.971813   2.026648   1.375540
min      0.203718     0.123551   4.835198   6.464286
25%      3.341782     1.282868   7.434690   8.302486
50%      6.941350     3.978017   8.877545   9.159441
75%     12.462531    10.583710  10.550490   9.940066
max    114.474859  2039.793001  13.512994  11.054904

In [7]:
import random

In [40]:
random.sample(list(df.loc[:, 'A']), 2)

[6, 8]

In [38]:
def KovalF(mean_log, sd_log, mean_nor, sd_nor, sizen, iteras):
    """
    This function computes and stores the linear regression results of
    the Koval plot. Parameters:
    Permeability: lognormal; mean and standard deviation
    Porosity: normal; mean and standard deviation
    sizen: number of points of the data sets
    iteras: the number of linear regression analysis to be performed.
    """
    
    import random
    
    KLR = pd.DataFrame(np.zeros((iteras, 7)),
                      columns=['Porosity Mean', 'Permeability Mean', 'Slope', 'Intercept',
                               'P value', 'R^2', 'Standard Error']) # initializing DataFrame of results
    
    for itera in np.arange(iteras):
        # Compute the mean and standard deviation of lognormal pdf in terms of
        # the normal distribution
        normal_std = np.sqrt(np.log(1 + (sd_log/mean_log)**2))
        normal_mean = np.log(mean_log) - normal_std**2 / 2
        
        # Create DataFrame and permeability and porosity columns
        sample_ind = random.sample(np.arange(sizen), np.floor(0.1 * sizen))
        x = pd.DataFrame(np.random.lognormal(normal_mean, normal_std, size=sizen),
                         columns=['permeability'])
        x.iloc['porosity'] = np.random.normal(mean_nor, sd_nor, size=sizen)
        
        # Obtain the total sum of both permeability and porosity
        sumk = x['permeability'].sum()
        sumphi = x['porosity'].sum()
        x['interst vel'] = x['permeability'] / x['porosity'] # Interstitial velocity
        
        # Sort the interstitial velocity in descending order
        x.sort_values(by=['interst vel'], ascending=False, inplace=True)
        
        k1 = np.cumsum(pd.DataFrame(x['permeability']))
        phi1 = np.cumsum(pd.DataFrame(x['porosity']))
        x['(1-F)/F'] = (sumk / k1) - 1
        x['(1-C)/C'] = (sumphi / phi1) - 1
        x.where(x > 0, 0, inplace=True) # if there are negative values in the DataFrame, replace them with 0
        x.drop(['interst vel'], axis=1, inplace=True)
        
        # Linear regression
        slope, intercept, r_value, p_value, std_err = stats.linregress(
        x['(1-C)/C'], x['(1-F)/F'])
        
        KLR.iloc[itera, 0:2] = (x['porosity'].mean(), x['permeability'].mean())
        KLR.iloc[itera, 2:] = slope, intercept, p_value, r_value ** 2, std_err
        
    return KLR

[5, 6, 8, 8]

In [42]:
df

   A  B  C  D
0  5  4  3  2
1  6  7  5  7
2  8  2  1  8
3  8  3  6  2

In [68]:
pepe = [3, 1]

In [69]:
df.iloc[pepe, 2]

3    6
1    5
Name: C, dtype: int32

In [71]:
list(np.arange(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]